<div class="card w-1/2 flex flex-col bg-blue-950 mx-auto p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl">Sign up</div>
    <div class="card-body w-full">
        <form #registerForm="ngForm" class="flex flex-col gap-4 w-full" (ngSubmit)="register()">
            <input type="text" class="input w-full" name="displayName" [(ngModel)]="creds.displayName" placeholder="Display name">
            <input type="email" class="input w-full" name="email" [(ngModel)]="creds.mail" placeholder="Email">
            <input type="password" class="input w-full" name="password" [(ngModel)]="creds.password" placeholder="Password">
            <div class="flex items-center justify-end gap-3">
                <button class="btn" type="button" (click)="cancel()">Cancel</button>
                <button class="btn btn-neutral" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
